:root {
  --selection-background: rgb(0, 0, 0);
  --selection-color: rgb(252, 191, 101);
  --banner-brightness: 1;
  --drawer-target: #fff;
  --drawer-no-target: #ddd;
  --font-color-normal: #000;
  --home-background: #eee;
  --loading-color-1: #eee;
  --loading-color-2: #aaa;
  --wave-brightness: 1.3;
  --mdbody-background: #fff;
  --mdbody-shadow: #eee;
  --toc-background: #fff;
  --post-banner-background: rgba(255, 255, 255, 0.7);
  --posts-background: #fff;
  --post-shadow: #bbb;
}