:root {
  --theme-color: #F4AF43;
  --pointer : url('./assets/cursors/pointer.cur') ,pointer;
}

* {
  font-family: "Ubuntu", serif !important;
  font-weight: bold !important;
  overflow: hidden;
  scroll-behavior: smooth;
  cursor: url('./assets//cursors/default.cur'), default;
  transition: .3s;
  color: var(--font-color-normal);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #eee;
  border-radius: 4px;
  transition: .3s;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::selection { 
  background: var(--selection-background); 
  color: var(--selection-color); 
} 
::-moz-selection { 
  background: var(--selection-background); 
  color: var(--selection-color); 
} 
::-webkit-selection { 
  background: var(--selection-background); 
  color: var(--selection-color);
}

svg {
  width: inherit;
  height: inherit;
  opacity: .7;
  fill: #fff;
}

.scrollX {
  overflow: scroll !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

.scrollY {
  overflow: scroll !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.markdown-body {
  flex-grow: 1;
}

.markdown-body .code-block {
  position: relative;
}

.markdown-body pre {
  margin: 20px;
}

.markdown-body pre:hover+.copyBth,
.markdown-body pre:hover+.copySuccess,
.copyBth:hover,
.copySuccess:hover {
  opacity: 1;
}

.copyBth,
.copySuccess {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  opacity: 0;
  cursor: var(--pointer);
  color: #fff;
  transition: 1s;
}

.copyBth {
  background-color: rgb(137, 205, 250);
}

.copySuccess {
  background-color: greenyellow;
}

.markdown-body pre>code {
  color: #000 !important;
  line-height: 25px;
}

.markdown-body a {
  text-decoration: underline;
  padding: 3px 5px 3px 5px;
}

.markdown-body a * {
  cursor: var(--pointer);
}

.markdown-body :not(pre)>code {
  background-color: var(--theme-color);
  margin: 3px 5px 3px 5px;
  padding: 3px 5px 3px 5px;
}

.markdown-body ol li {
  list-style-position: inside;
  list-style-type: disc;
  line-height: 30px;
}

.markdown-body ol li::marker {
  color: var(--theme-color);
  font-size: 20px;
}

.markdown-body p,
.markdown-body ul,
.markdown-body ul li {
  font-size: 18px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before {
  content: "※";
  position: absolute;
  left: -5px;
  color: var(--theme-color);
  animation: showAndHide 2s linear infinite;
}

.markdown-body blockquote {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
}

.markdown-body blockquote::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 3px;
  height: 100%;
  background-color: var(--toc-background);
}

@keyframes showAndHide {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
